# Environments
venv/
env/
.env

.env
venv/
*.pyc
__pycache__/
media/
db.sqlite3

# Python
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
media/
staticfiles/

# OS
.DS_Store
Thumbs.db

# Documentation Folder
Documentation/
